.info {
    width: 90%;
    text-align: center;
    margin: auto;
}

.info h2 {
    width: 100%;
    text-align: center;
    margin: 50px 0 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    font-size: 45px;
}

.option {
    display: block;
    width: fit-content;
    padding: 20px;
    margin: 0 auto 40px;
    text-align: center;
    color: #a2c16c;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.option:hover {
    background-color: #646464;
}

.article-content {
    overflow: hidden;
}

.article-content:hover {
    background-color: rgba(209, 0, 190, 0.73);
    transition: 500ms background-color ease-in-out;
}

.article-content:hover img {
    opacity: 0.7;
    transition: 500ms opacity ease-in-out, 500ms transform ease-in-out;
    transform: perspective(500px) translate3d(0px, 0px, 50px);

}